.academic-projects-foundation {
    width: 100%;

    .MuiOutlinedInput-notchedOutline {
        border-color: var(--light-yellow) !important;
    }
    
    .MuiSelect-iconOpen, .MuiSelect-iconOutlined {
        color: var(--light-yellow) !important;
    }
}

.MuiMenu-list {
    background-color: var(--grey) !important;
    color: white !important;
}

.MuiMenu-paper {
    background-color: var(--grey) !important;
}

.academic-projects-filter {
    flex: 1;
    background-color: var(--grey);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.academic-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px;
}

.academic-projects-card {
    width: 350px;
    min-height: 250px;
    background-color: var(--grey) !important;
}

.academic-projects-card:hover {
    box-shadow: 0 0 5px 3px var(--light-yellow) !important; 
}

.academic-projects-chip-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.academic-projects-divider {
    margin: 20px 0px 20px 0px;
    background-color: var(--light-yellow);
}

.academic-projects-tool-chip, .academic-projects-language-chip {
    color: var(--light-yellow)!important;
    background-color: var(--dark-grey)!important;
}

.MuiCheckbox-root {
    .MuiSvgIcon-fontSizeMedium {
        color: var(--light-yellow) !important;
    }
}
