@keyframes title-entry {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes button-entry {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.home-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.home-page-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 30%;
}

.home-page-menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.home-page-custom-carousel {
    width: 70%;
}

.home-page-custom-carousel-mobile {
    width: 100%;
}

.home-page-carousel {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    animation-name: button-entry;
    animation-duration: 2s;
}

.home-page-img-div {
    display: flex !important;
    justify-content: center;
    align-content: center;
}

.home-page-title {
    font-size: 64px;
    font-weight: 700;
    color: var(--light-yellow);
    text-align: center;
    animation-name: title-entry;
    animation-duration: 1s;
}

.home-page-content {
    font-size: 48px;
    color: white;
    animation-name: title-entry;
    animation-duration: 1s;
}

.home-page-button {
    text-align: center;
    min-width: 75%;
    border-radius: 25px;
    background-color: var(--grey);
    padding: 10px;
    color: white;
    border: none;
    animation-name: button-entry;
    animation-duration: 2s;
}

.home-page-button-special {
    text-align: center;
    min-width: 75%;
    border-radius: 25px;
    background-color: var(--light-yellow);
    padding: 10px;
    color: black;
    border: none;
    animation-name: button-entry;
    animation-duration: 2s;
}

.home-page-button:hover {
    box-shadow: 0 0 5px 3px var(--light-yellow); 
}